@charset "utf-8";
/* CSS Document */
*{margin: 0; padding: 0; }
body{ width:100%; font-size:12px;font-family:"微软雅黑", "Microsoft YaHei"; color:#333;background-color:#fff;}
div,span,p,h1,h2,form,ul,li{ margin:0px; padding:0px;}
ul,li,ul li{list-style:none; display:block;}
img{
	/* [disabled]margin:0px; */
	padding:0px;
	border:0px; 
	vertical-align: middle;
}
input,select{font-size:12px;line-height:20px;}
a:link,a:visited,a:hover,a:active{text-decoration: none; color:#333; }
a:active,a:focus{outline:none;}
a:hover{color:#ff3334;}
.top10{ margin-top:10px;}
.top15{ margin-top:15px;}
.left10{ margin-left:10px;}
.pad30{ padding-left:30px;}
.space8{ clear:both; height:8px;}
.clear{clear:both;}

.logo-search { width: 1000px; height: 96px; margin: 0 auto;}
.logo-search .logo { float: left; width: 184px; margin-top: 16px;}
.logo-search .logo a { display: block; height: 62px; text-indent: -9999px;overflow: hidden;width: 166px;}

/*搜索*/
.logo-search .search { float: left; width: 654px; padding-left:162px;}
.logo-search .logo a { display: block; height:59px; text-indent: -9999px; overflow: hidden; width: 170px; background: url(../images/logo.gif) no-repeat;}
.logo-search .search .search-main { float: left; margin-top: 16px; width: 375px;}
.logo-search .input { float: left; width: 250px; overflow: hidden; border: 1px solid #ccc; padding: 5px 30px; height: 24px; font-size: 14px; line-height: 24px; color: #999; background-color:#fff;}
.search-cat a { font-size: 12px; padding: 0 6px;}
.search-cat .current, .search-cat .current:hover, .search-cat .current:visited { background-color: #5d5d5d; color: #fff;}
.search-area { position: relative; height:34px; margin-top: 1px; background-color: #eee; padding: 2px;}
.search .search-icon { position: absolute; width: 14px; height: 14px; background: url(../images/sprite.png) no-repeat -189px -114px; top: 13px; left: 8px;}
.search .button { float: left; width: 59px; height: 36px; background-color: #ff3336; border: 0 none; cursor: pointer; color: #fff; font-size: 16px; line-height: 36px;}
.logo-search .search .search-hot { float: left; margin-top: 50px; width:279px; line-height:18px; height:18px; overflow:hidden; font-size: 12px;}
.logo-search .search .search-hot a { margin-left: 10px; color: #666; display:inline-block;;}
.logo-search .search .search-hot a:hover { color: #c36;}

/*导航*/
.menu { background-color: #666; height: 40px; font-size: 16px;}
.menu .menu-inner { width: 1000px; margin: 0 auto;}
.menu li { float: left;}
.menu a:link, .menu a:visited { color: #fff; display: block; line-height: 40px; padding: 0 30px;}
.menu a:hover{background-color: #ff3334;color: #fff;text-decoration: underline;}
.menu .cur a:link, .menu .cur a:visited, .menu .cur a:hover, .menu .cur a:active { color: #fff; background-color: #ff3334; text-decoration: none;}

/*当前位置*/
.ms_dq{width:1000px;height:40px;margin:auto;}
.address{width:995px; height:28px; float:left; padding-left:5px;border-bottom:1px solid #ebebeb; font-size:14px; line-height:28px;}
.address span{ padding:0px 10px;}
.address2{width:1000px; height:40px; float:left; border-bottom:1px solid #ebebeb; font-size:14px; line-height:40px; text-align:center; font-size:14px;}
.address2 span{ padding:0px 10px; color:#d52b1e; font-size:18px; font-weight:bold;}

/*上下翻页*/
.pages{ width:100%; float:left; padding:25px 0px; text-align: center; clear:both;}
.pages a {border:1px solid #ccc; padding:5px 10px;margin-left:2px;background-color:#fff;color:#333;font-size:14px;}
.pages a.hover,.pages a:hover{background-color:#ff4347;color:#fff;}
.pages a.a1{background-color:#fff;color:#333;}

/*版权*/
.footwarp{ width:100%;background-color:#ccc;}
.foot{ width:1000px; margin:0 auto; height:35px; text-align: center; line-height:35px;}

/*返回顶部*/
.scroll{
background: url(../images/backtop.gif) no-repeat;
bottom:80px;
cursor:pointer;
height:71px;
width:71px;
margin-left:60px;
position:fixed;
_position:absolute; /*兼容IE6*/
_top: expression(eval(document.documentElement.scrollTop)+500); 
}
html{_text-overflow:ellipsis;} /*解决IE6下图片抖动*/ 