@charset "utf-8";
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd {
font-weight: normal;
margin: 0px;
padding: 0px;
list-style-type: none;
}
img {
border-top-style: none;
border-right-style: none;		
border-bottom-style: none;
border-left-style: none;
}
a{text-decoration:none;}

/*列表页*/
#ms_nr{width:1000px;margin:auto;overflow:hidden;margin-top:10px;}
#ms_nr_z{width:687px;float:left;}
.ms_lan{height:40px;clear:both;}
.ms_lan p{font-family:"微软雅黑";font-size:28px;color:#ff3333;padding-left:10px;padding-top:5px;}
.ms_list{overflow:hidden;}
.ms_lie{border-bottom:1px dashed #999;height:220px;float:left;padding-top:20px;}
.ms_list_z{float:left;width:200px;}
.ms_list_y{width:467px;padding-left:20px;float:left;}
.ms_list_tit a{font-family:"微软雅黑";font-size:20px;color:#000;}
.ms_list_tit a:hover{color:#ce0000;}
.ms_list_des{font-family:"微软雅黑";font-size:14px;color:#999;padding-top:10px;line-height:24px;}
.ms_list_des a{color:#ce0000;}
.ms_list_des a:hover{text-decoration:underline;}
.ms_list_tag{font-family:"微软雅黑";font-size:12px;color:#666;padding-top:10px;}
.ms_list_tag a{color:#ff3333;}
.ms_list_tag a:visited{color:#ff3333;}
.ms_list_tag a:hover{color:#c30;text-decoration:underline;}
.ms_list_fx{padding-top:25px;}
.ms_list_u{font-family:"微软雅黑";font-size:12px;color:#999;padding-left:140px;}
.ms_list_u li{float:left;}
.ms_list_u li a{color:#999;}
.ms_list_u li a:hover{color:#ce0000;text-decoration:underline;}
.ms_list_li{padding-top:10px;}

/*列表页右侧*/
#ms_nr_y{width:305px;float:left;}
.ms_jh{padding-left:30px;}
.ms_tui{font-family:"微软雅黑";font-size:20px;color:#333;width:82px;padding-bottom:8px;border-bottom:2px solid #f31b1b;position:relative;top:1px;}
.ms_tui_u{width:265px;border-top:1px solid #d0d0d0;}
.ms_tui_u li a{width:265px;height:60px;display:block;border-bottom:1px dashed #d0d0d0;background-repeat:no-repeat;background-position:10px 12px;}
.ms_tui_u li a:hover{background-color:#f0f0f0;}
.ms_tui_a1{background-image:url(../images/ms_ph1.gif);}
.ms_tui_a2{background-image:url(../images/ms_ph2.gif);}
.ms_tui_a3{background-image:url(../images/ms_ph3.gif);}
.ms_tui_a4{background-image:url(../images/ms_ph4.gif);}
.ms_tui_a5{background-image:url(../images/ms_ph5.gif);}
.ms_tui_u li a p{font-family:"微软雅黑";font-size:14px;color:#333;padding-left:45px;padding-top:18px;}

.ms_rc{margin-top:25px;}
.ms_rc_u{width:265px;height:235px;border-top:1px solid #d0d0d0;padding-top:10px;}
.ms_rc_u li{float:left;color:#333;padding-right:6px;_padding-right:7px;padding-top:5px;}
.ms_rc_u li a{font-family:"微软雅黑";font-size:12px;color:#333;}
.ms_rc_u li a:hover{color:#ce0000;text-decoration:underline;}

.ms_fx{height:350px;margin-top:15px;padding-left:30px;padding-bottom:10px;overflow:hidden;}
.ms_fx_u{padding-top:16px;width:265px;border-top:1px solid #d0d0d0;}
.ms_fx_u li{float:left;padding-right:10px;}
.ms_fx_u li p {line-height:26px;text-align:center; color:#ff3333}
.cuttxt1{width:120px;height:26px;}
.ms_fx_u li p a{font-family:"微软雅黑";font-size:14px;color:#333;}
.ms_fx_u li p a:hover{color:#ce0000;text-decoration:underline;}
.ms_fx_u li p img{border:1px solid #d0d0d0;}

.ms_list_des .see_all a,.see_all a:visited{ color:#f31b1b;}

/*文章页*/
#ms_nr{width:1000px;margin:auto;overflow:hidden;margin-top:10px;}
#ms_nr_z{width:687px;float:left;}
.nr_tit{width:620px;border-bottom:1px solid #d0d0d0;margin:auto;clear:both;}
.nr_tit p{font-family:"微软雅黑";font-size:28px;text-align:center;padding:20px 0px;}
.nr_time{width:620px;margin:auto;clear:both;}
.nr_time ul li{font-family:"微软雅黑";font-size:12px;color:#666;float:left;padding-top:13px;}
.nr_li2,.nr_li3{padding-left:30px;}
.nr_li4{margin-left:190px;}
.nr_li4 img,.nr_li5 img{vertical-align:top;}
.nr_li4 a,.nr_li5 a{font-family:"微软雅黑";font-size:12px;color:#666;}
.nr_li4 a:hover,.nr_li5 a:hover{text-decoration:underline;color:#ce0000}
.ms_nr_txt{width:687px;overflow:hidden;font-family:"微软雅黑";}
.nr_txt_dy{width:615px;margin:auto;border-bottom:1px dotted #999;}
.txt_dy_s1{position:relative;display:inline-block;width:52px;height:22px;background-color:#ff3333;color:#fff;text-align: center;line-height: 22px;margin-right: 14px;}
.txt_dy_s1 i{position:absolute;right:-8px;top:8px;width:0;height:0;overflow: hidden;line-height: 0;font-size: 0;vertical-align: middle;border-left: 4px solid #ff3333;border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-right: 4px solid transparent;}
.nr_txt_dy p{color:#333;font-size:16px;line-height:25px;padding:20px 0px;}
.ms_art{width:615px;margin:auto;padding-top:16px;}
.ms_art p{color:#4f4f4f;font-size:16px;text-indent:2em;line-height:27px;padding-top:14px;}
.art_tag ul{padding-top:20px;padding-left:27px;}
.art_tag ul li{float:left;font-family:"微软雅黑";font-size:14px;}
.art_tag ul li a{color:#999;}
.art_tag ul li a:hover{color:#c43563;text-decoration:underline;}
.art_tag_li1{color:#e71818;}
.art_tag_li2{padding-left:6px;}
.art_tag_li1,.art_tag_li2,.art_tag_li3{padding-top:8px;}
.art_tag_li3{margin-left:170px;}

#ms_sptj{width:675px;height:515px;background-color:#f0f0f0;margin:auto;overflow:hidden;}
#ms_sptj_box{width:663px;height:504px;background-color:#fff;margin:4px auto;overflow:hidden;}
#sptj_ti{width:663px;height:50px;}
#sptj_ti p{font-family:"微软雅黑";font-size:20px;color:#ff3333;padding:10px 15px;}
#sptj_r{margin-top:10px;padding:10px 10px 5px 10px;background-image:url(../images/sptj_r.gif);background-repeat:no-repeat;float:left;display:block;}
#sptj_b{margin-top:10px;padding:10px 10px 5px 10px;background-image:url(../images/sptj_b.gif);background-repeat:no-repeat;float:left;display:block;}
.sptj_con{width:663px;height:454px;padding-top:5px;}
#sptj_con1{float:left;}
.sptj_con  ul li{padding-left:23px;_padding-left:15px;float:left;}
.sptj_con  ul li p{text-align:center;line-height:30px;}
.sptj_con  ul li a{font-family:"微软雅黑";font-size:14px;color:#333;}
.sptj_con  ul li a:hover{color:#ce0000;text-decoration:underline;}